@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans overflow-hidden;
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Outfit', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Animations */
@keyframes mesh {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(10px, 10px);
  }

  50% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(-10px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.animate-mesh {
  animation: mesh 20s infinite ease-in-out alternate;
}